#thanks-container {
  height: 410px;
  width: 401px;
  box-sizing: border-box;
  border-radius: 25px;
  background: radial-gradient(circle at center top, hsl(213, 19%, 18%) 5%, hsl(216, 12%, 8%) 200%);
  padding: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#thanks-container #selection{
  margin-top: -33px;
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 18%);
  padding: 5px 20px;
  border-radius: 15px;
}

#thanks-container p{
  margin-top: -50px;
  width: 340px;
  text-align: center;
  line-height: 1.5;
}